body {
    margin: 0;
    padding: 0;

    background: url("Assets/Web/star-Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    cursor: url('Assets/Cursor/cursor.cur'), auto;

    font-family: 'Inria Serif', serif;
}

.logo{
    width: 14vw;
    height: auto;
    margin-left: 2vw;
}

.navbar.custom-navbar {
    background-color: transparent !important;
    padding: 3vh 1vw !important;
    border: none !important;
    box-shadow: none !important;
}

.nav-menu {
    margin-left: auto;
    margin-right: 1vw !important;
}

.nav-menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-menu ul li {
    margin: 0 3vw !important;
}

.nav-menu ul li .link {
    font-family: 'Inria Serif', serif;
    font-weight: 400;
    text-decoration: none;
    color: white !important;
    padding-bottom: 1vh !important;
    margin: 0;
    font-size: 1vw;
}

.link:hover, .active {
    color: #e0e0e0 !important;
    border-bottom: 2px solid white !important;
}

h1 {
    width: 44vw;
    margin: 0 auto;
    font-family: 'Italiana', serif;
    font-weight: 400 !important;
    letter-spacing: 0.5em;
    color: white !important; 
    text-align: center;
    font-size: 5.2vw !important;
    margin-top: 8vh !important;
}

h2{
    text-align: center;
    color: white !important;
    letter-spacing: 0.1em;
    font-family: 'Jura', serif;
    font-weight: 700 !important;
    font-size: 1.4vw !important;
}

.btn-container{
    display: grid;
    place-items: center;
    height: 10vh;
}

.launch-btn{
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 1vh 3vw;
    font-size: 1.8vw;
    cursor: pointer !important;
    border-radius: 30px;
    font-family: 'Inria Serif', serif;
    letter-spacing: 0.1em;
}

.launching .launch-btn {
    opacity: 0;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

h1, h2, .launch-btn {
  animation: zoomIn 2s ease forwards;
}
@keyframes fadeInEase {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container-rocket{
  animation: fadeInEase 2s ease forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

@media (min-width: 993px){
    .launching h1 {
        font-size: 4.4vw !important;
    }

    .launching h2 {
        font-size: 1.05vw !important;
    }
}

@media (max-width: 992px) {
    #qr-code {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) scale(3) !important; /*resize QR disini*/
        transition: opacity 2s ease-in-out, transform 2s ease-in-out;
    }

    .rocket{
        padding-top: 75%;
        transform: translateX(0) scale(3)
    }

    .container-rocket{
        animation: fadeInEase 3s ease forwards;
        animation-delay: 0.5s;
        opacity: 0;
        height: 30vh !important;
    }
    
    h1 {
        font-size: 9vw !important;
        margin: 0 22vw;
    }

    h2 {
        font-size: 3vw !important;
    }

    .launching h1 {
        font-size: 7vw !important;
        margin: 1vh 29vw;
    }

    .launching h2 {
        font-size: 2.1vw !important;
    }
    

    .nav-menu ul {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 1.5vw;
    }

    .nav-menu ul li .link {
        font-size: 3vw;
    }

    .nav-menu ul li {
        margin: 1vh 0 !important;
    }

    .navbar-toggler {
        border-color: transparent;
    }

    .navbar-toggler-icon {
        background-color: transparent;
    }


    .launch-btn {
        font-size: 4vw;
        padding: 1vh 3vw;
        transform: scale(0.7) !important;
    }

    .qr-code {
        max-width: 60vh !important;
    }

    
}